<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="InsertStudentName1" value="Студент___________________________________________________________________________" />
    <add key="InsertStudentName2" value="Признать, что студент __________________________________________" />
    <add key="InsertStudentMark" value="выпускную квалификационную работу с оценкой _______________________________________" />
    <add key="InsertStudentTheme" value="Тема ВКР _________________________________________________________________________" />
    <add key="SummaryProtocol" value="C:\Users\247434\source\repos\Script\Script\bin\Debug\1.docx" />
    <add key="IndividualProtocol" value="C:\Users\247434\source\repos\Script\Script\bin\Debug\2.docx" />
    <add key="ThemesFile" value="C:\Users\247434\source\repos\Script\Script\bin\Debug\themes.docx" />
    <add key="ProtocolsPath" value="C:\Users\247434\source\repos\Script\Script\bin\Debug\" />
  </appSettings>
</configuration>